@import './../styles/_variables.scss';
@import './../styles/_mixins.scss';

.header {
  background-color: $primary-color;
  color: $text-light;
  padding: 0.8rem 1.5rem;
  
  .navigator {
    @include main-header;
  }
}