@import "./../styles/variables";

.card {
  background-color: #fff;
  padding: 1.2rem;
  height: 13rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.4rem;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

  .title {
    margin: .2rem 0;
    font-size: 1rem;
  }

  .description {
    font-size: 0.9rem;
    color: rgb(94, 94, 94);
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;

    .status {
      background-color: $primary-color;
      padding: 0.4rem 1.7rem;
      color: #fff;
      font-size: 0.8rem;
      border-radius: 4px;
    }
  }
}
